body {
  background-image: linear-gradient(rgb(93, 106, 179), rgb(244, 243, 247));
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.app-container {
  height: 90vh;
  text-align: center;
  /* margin-bottom: 50%; */
  margin-top: 30vh;
  /* height: -webkit-fill-available; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 15%; */
}

.navbar {
  width: 100vw;
  height: 60px;
  color: black;
  background-image: linear-gradient(rgb(174, 184, 189), rgb(244, 243, 247));
  box-shadow: 10px 6px 10px 0 rgba(0, 0, 0, 0.2),
    0 10px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-radius: 30px;
}

.navbar-container {
  display: inline-flex;
}

.brand {
  color: black;
  width: auto;
  padding: 3px;
  margin-left: 1rem;
  font-size: x-large;
}

.home{
  margin: auto;
  height: 50%;
  color: black;
  padding: 5px;
  margin-left: 1rem;
  font-size: small;
  cursor: pointer;
}

.home:hover {
  background-color: rgb(97, 78, 88);
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 10px 6px 10px 0 rgba(0, 0, 0, 0.2),
    0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.about {
  margin: auto;
  height: 50%;
  color: black;
  padding: 5px;
  margin-left: 1rem;
  font-size: small;
  cursor: pointer;
}

.about:hover {
  background-color: rgb(97, 78, 88);
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 10px 6px 10px 0 rgba(0, 0, 0, 0.2),
    0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.blinking {
  display: block;
  width: 200px;
  margin: 2em auto;
  border: 1px solid rgb(122, 113, 113);
  background: none;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  color: black;
  font-size: 0.8em;
  animation: 2s infinite ease-in-out blink;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  80% {
    opacity: 1;
  }
}

.start {
  display: block;
  width: 200px;
  margin: 2em auto;
  border: 1px solid rgb(122, 113, 113);
  background: rgb(154, 159, 192);
  border-radius: 0.3em;
  padding: 0.5em 1em;
  color: black;
  font-size: 0.8em;
}

.start:hover {
  background: none;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  box-shadow: 10px 6px 10px 0 rgba(0, 0, 0, 0.2),
    0 10px 20px 0 rgba(0, 0, 0, 0.19);

}
