body {
  background-image: linear-gradient(rgb(93, 106, 179), rgb(244, 243, 247));
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.app-container {
  height: 90vh;
  text-align: center;
  /* margin-bottom: 50%; */
  margin-top: 4vh;
  /* height: -webkit-fill-available; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 15%; */
}

.initializing-container {
  margin-top: 20vh;
}

.recognition-container {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 10px 6px 10px 0 rgba(0, 0, 0, 0.2),
    0 10px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  border-style: solid;
  border-width: 5px;
  height: 90%;
  position: relative;
}

#video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.classification-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background: rgba(30, 41, 72, 0.6);
  padding: 1em 0;
  color: white;
}

.predict {
  background: none;
  border: 2px solid white;
  border-radius: 0.3em;
  padding: 1em 2em;
  color: white;
  font-size: 14px;
  display: block;
  margin: 0 auto 0 auto;
}

.predict:hover {
  border: 2px solid rgb(105, 99, 99);
}

.classification-confirmation {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background: rgba(30, 41, 72, 0.6);
  padding: 1em 0;
  color: white;
}

.confirmation-buttons {
  display: inline-flex;
  justify-content: space-between;
  width: 6rem;
}

#confirm {
  background: none;
  border: 2px solid white;
  border-radius: 0.3em;
  color: white;
  font-size: 14px;
  display: block;
  margin: 0 auto 0 auto;
}

#confirm:hover {
  border: 2px solid rgb(105, 99, 99);
}

.recycling-classification {
  display: none;
}
.navbar {
  width: 100vw;
  height: 60px;
  color: black;
  background-image: linear-gradient(rgb(174, 184, 189), rgb(244, 243, 247));
  box-shadow: 10px 6px 10px 0 rgba(0, 0, 0, 0.2),
    0 10px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-radius: 30px;
}

.navbar-container {
  display: inline-flex;
}

.brand {
  color: black;
  width: auto;
  padding: 3px;
  margin-left: 1rem;
  font-size: x-large;
}

.home {
  margin: auto;
  height: 50%;
  color: black;
  padding: 5px;
  margin-left: 1rem;
  font-size: small;
  cursor: pointer;
}

.home:hover {
  background-color: rgb(97, 78, 88);
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 10px 6px 10px 0 rgba(0, 0, 0, 0.2),
    0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.about {
  margin: auto;
  height: 50%;
  color: black;
  padding: 5px;
  margin-left: 1rem;
  font-size: small;
  cursor: pointer;
}

.about:hover {
  background-color: rgb(97, 78, 88);
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 10px 6px 10px 0 rgba(0, 0, 0, 0.2),
    0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.blinking {
  display: block;
  width: 200px;
  margin: 2em auto;
  border: 1px solid rgb(122, 113, 113);
  background: none;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  color: black;
  font-size: 0.8em;
  animation: 2s infinite ease-in-out blink;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  80% {
    opacity: 1;
  }
}

.start {
  display: block;
  width: 200px;
  margin: 2em auto;
  border: 1px solid rgb(122, 113, 113);
  background: rgb(154, 159, 192);
  border-radius: 0.3em;
  padding: 0.5em 1em;
  color: black;
  font-size: 0.8em;
}

.start:hover {
  background: none;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  box-shadow: 10px 6px 10px 0 rgba(0, 0, 0, 0.2),
    0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

/* The Modal (background) */
.about-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.about-modal-container {
  background-image: linear-gradient(rgb(166, 168, 175), rgb(244, 243, 247));
  box-shadow: 10px 6px 10px 0 rgba(0, 0, 0, 0.2),
    0 10px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 12px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: rgb(104, 100, 100);
  float: right;
  width: 20px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.about-p {
  padding-top: 8%;
  padding-bottom: 2%;
}
